@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 hsl(var(--primary)); /* Replace with your primary RGB values */
  }
  70% {
    box-shadow: 0 0 0 10px hsla(var(--primary), 0.7); /* Replace with your primary RGB values */
  }
  100% {
    box-shadow: 0 0 0 0 hsla(var(--primary), 0); /* Replace with your primary RGB values */
  }
}

.animate-shadow {
  animation: pulse-shadow 2s infinite;
}
